@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Roboto&family=Roboto+Mono:wght@200&display=swap');

body {
  margin: 0;
}